body {
  /* ============================================================= */
  /*
  /* Main Variables
  /*
  /* ============================================================= */
  /* 
  /* These variables trickle down into all the .css styles, but you
  /* can fine tune them even further if you'd like. Some colors won't
  /* always play well together.
  /*
  /* ============================================================= */
  /* Primary Color
  ================================================================ */
  /* The "Main" accent color of your site. */
  --cd-primary-color: #bb5f13;
  --cd-primary-text-color: #fff;

  /* ============================================================= */
  /* Secondary Color
  ================================================================ */
  /* The "Second" accent color of your site. */
  --cd-secondary-color: #272727;
  --cd-secondary-text-color: #fff;

  /* ============================================================= */
  /* Backgrounds
  ================================================================ */
  --cd-body-background-color: #f7faff;
  --cd-content-background-color: rgba(255, 255, 255, 0.9);
  --cd-faded-background-color: var(--cd-content-background-color);

  /* Background Image */
  --cd-body-background-image: url("/charadex-rp/assets/bg-image.png");

  /* ============================================================= */
  /* Main Fonts
  ================================================================ */
  --cd-body-font-family: "Montserrat", sans-serif;
  --cd-header-font-family: "Comfortaa", sans-serif;
  --cd-serif-font-family: "Domine", serif;
  --cd-decorative-font-family:  "Permanent Marker", cursive;

  /* ============================================================= */
  /* Text
  ================================================================ */
  --cd-body-text-color: #2b2b2b;
  --cd-faded-text-color: #b6b6b6;

  /* ============================================================= */
  /* Borders
  ================================================================ */
  --cd-border-color: #b4b3b661;
  --cd-border-width: 1px;
  --cd-border-style: solid;
  --cd-border-radius: 8px;

  /* ============================================================= */
  /* Navbar
  ================================================================ */
  --cd-navbar-background-color: transparent;
  --cd-navbar-font-family: var(--cd-header-font-family);
  /* Title */
  --cd-navbar-brand-color: var(--cd-primary-color);
  --cd-navbar-brand-color-hover: var(--cd-secondary-color);
  /* Link/Text */
  --cd-navbar-text-color: var(--cd-secondary-color);
  --cd-navbar-link-color: var(--cd-primary-color);
  --cd-navbar-link-color-hover: var(--cd-secondary-color);

  /* ============================================================= */
  /* Badges
  ================================================================ */
  /* Character categories appear as button "badges" in listings */
  --cd-rarity-one-bg: #143c81;
  --cd-rarity-one-txt: #ffffff;

  --cd-rarity-two-bg: #801a1a;
  --cd-rarity-two-txt: #ffffff;

  --cd-rarity-three-bg: #1a7a1e;
  --cd-rarity-three-txt: #ffffff;

  --cd-rarity-four-bg: #9ab2df;
  --cd-rarity-four-txt: #252525;

  --cd-rarity-five-bg: #531a94;
  --cd-rarity-five-txt: #ffffff;

  /* ============================================================= */
  /*
  /* Optional Styles
  /* These are just for extra easy styling. Most of these are based
  /* on existing colors defined above, but can be further tweaked.
  /*
  /* ============================================================= */
  /* Navbar Dropdown 
  ================================================================ */
  /* Background */
  --cd-navbar-dropdown-background-color: var(--cd-body-background-color);
  --cd-navbar-dropdown-background-hover: var(--cd-primary-color);

  /* Link/Text */
  --cd-navbar-dropdown-link-color: var(--cd-navbar-link-color);
  --cd-navbar-dropdown-link-color-hover: var(--cd-primary-text-color);

  /* Divider */
  --cd-navbar-dropdown-divider: var(--cd-border-color);
  --cd-navbar-dropdown-border-radius: var(--cd-border-radius);

  /* ============================================================= */
  /* Footer
  ================================================================ */
  /* Background */
  --cd-footer-background-color: transparent;

  /* Link/Text */
  --cd-footer-text-color: var(--cd-navbar-text-color);
  --cd-footer-link-color: var(--cd-navbar-link-color);
  --cd-footer-link-color-hover: var(--cd-navbar-link-color-hover);

  /* ============================================================= */
  /* Link
  ================================================================ */
  --cd-link-text-color: var(--cd-primary-color);
  --cd-link-text-color-hover: var(--cd-secondary-color);

  /* ============================================================= */
  /* HR
  ================================================================ */
  --cd-hr-border-width: var(--cd-border-width);
  --cd-hr-border-height: 16px;
  --cd-hr-border-color: var(--cd-primary-color);

  /* ============================================================= */
  /* Pagination
  ================================================================ */
  /* Background */
  --cd-pagination-background-color: transparent;
  --cd-pagination-background-hover: transparent;

  /* Text */
  --cd-pagination-text-color: var(--cd-faded-text-color);
  --cd-pagination-text-color-hover: var(--cd-primary-color);

  /* Border */
  --cd-pagination-border-radius: var(--cd-border-radius);
  --cd-pagination-border-width: 0;
  --cd-pagination-border-style: var(--cd-border-style);
  --cd-pagination-border-color: var(--cd-border-color);
  --cd-pagination-border-color-hover: var(--cd-primary-color);

  /* ============================================================= */
  /* Cards
  ================================================================ */
  /* Background */
  --cd-card-background-color: var(--cd-content-background-color);
  --cd-card-header-background-color: var(--cd-secondary-color);

  /* Text */
  --cd-card-header-font-family: var(--cd-header-font-family);
  --cd-card-header-font-color: var(--cd-secondary-text-color);

  /* Border */
  --cd-card-border-width: var(--cd-border-width);
  --cd-card-border-style: var(--cd-border-style);
  --cd-card-border-color: var(--cd-border-color);
  --cd-card-border-radius: var(--cd-border-radius);

  /* ============================================================= */
  /* Button
  ================================================================ */
  /* Background */
  --cd-button-background-color: var(--cd-primary-color);
  --cd-button-background-color-hover: var(--cd-secondary-color);

  /* Text */
  --cd-button-text-color: var(--cd-primary-text-color);
  --cd-button-text-color-hover: var(--cd-secondary-text-color);

  /* Border */
  --cd-button-border-width: var(--cd-border-width);
  --cd-button-border-style: var(--cd-border-style);
  --cd-button-border-color: var(--cd-button-background-color);
  --cd-button-border-color-hover: var(--cd-button-background-color-hover);
  --cd-button-border-radius: var(--cd-border-radius);

  /* ============================================================= */
  /* Input
  ================================================================ */
  /* Background */
  --cd-input-background-color: var(--cd-faded-background-color);

  /* Text */
  --cd-input-text-color: var(--cd-faded-text-color);

  /* Border */
  --cd-input-border-width: var(--cd-border-width);
  --cd-input-border-style: var(--cd-border-style);
  --cd-input-border-color: var(--cd-border-color);
  --cd-input-border-color-hover: var(--cd-primary-color);
  --cd-input-border-radius: var(--cd-border-radius);
}

/* ============================================================= */
/*
/* CSS Begins Here
/* 
/*
/* ============================================================= */
/* General Page Styles
/* ============================================================= */

body {
  /* Global Text */
  color: var(--cd-body-text-color);
  font-family: var(--cd-body-font-family);
  font-size: 10pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Global Background */
  background-color: var(--cd-body-background-color);
  background-image: var(--cd-body-background-image);
  background-position: center top;
  background-size: auto;
  background-repeat: repeat;
}

/* Header and Footer */
#header::after,
#footer::before {
  display: none;
}
.footer {
  background-color: var(--cd-footer-background-color) !important;
  color: var(--cd-footer-text-color) !important;
  margin-top: 1em;
  margin-bottom: 1em;
}
.footer a,
.footer a:visited {
  color: var(--cd-footer-link-color) !important;
}
.footer a:hover,
.footer a:focus,
.footer a:active {
  color: var(--cd-footer-link-color-hover) !important;
}

/* Scrollbar */
@media (min-width: 992px) {
  body::-webkit-scrollbar-track {
    background-color: var(--cd-faded-background-color);
    border-width: 0px !important;
  }

  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--cd-primary-color);
  }

  body::-webkit-scrollbar-corner,
  body::-webkit-resizer {
    background-color: var(--cd-border-color);
  }
}

[data-cd-bool="false"] {
  opacity: .5;
}
[data-cd-bool="false"]::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f023";
  margin-right: 0.3rem;
}

/* ============================================================= */
/* Containers
/* ============================================================= */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-container {
  padding: 1rem;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
#main-card {
  overflow: scroll;
}

@media (min-width: 768px) {
  #main-container {
    padding: 0rem 0.5rem;
    height: 62vh;
  }
  #main-card {
    padding: 1rem 7rem;
  }
}
/* Small container for more compact view */
.container {
  max-width: 950px !important;
}

/* Fix any border radiuses that were messed from before */
.rounded {
  border-radius: var(--cd-border-radius) !important;
}

.rounded-circle {
  border-radius: 100%;
}

.rounded-0 {
  border-radius: 0 !important;
}

/* ============================================================= */
/* Images
/* ============================================================= */

img {
  image-rendering: -webkit-optimize-contrast;
}

.img-thumbnail {
  border-radius: var(--cd-border-radius) !important;
  border-color: var(--cd-border-color) !important;
}

.img-fluid {
  object-fit: contain;
  max-height: 400px;
}

figure {
  max-width: 800px;
  padding: 0 1rem;
  text-align: center;
}

.faux-photo {
  font-family: var(--cd-decorative-font-family);
  font-size: 1em;
  border: var(--cd-border-color) var(--cd-border-style) var(--cd-border-width);
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
}
.faux-photo img {
  background-color: var(--cd-body-background-color);
  border: var(--cd-border-color) var(--cd-border-style) var(--cd-border-width);
  border-radius: 4px;
  height: 200px;
  width: 200px;
}

/* ============================================================= */
/* Navbar
/* ============================================================= */
.navbar {
  background-color: var(--cd-navbar-background-color) !important;
  font-family: var(--cd-navbar-font-family) !important;
  text-transform: uppercase;
  z-index: 2000;
}

/* Navbar Brand */
.navbar .navbar-brand {
  color: var(--cd-navbar-brand-color) !important;
  font-size: 5vw;
  font-weight: bold;
}
@media (min-width: 768px) {
  .navbar .navbar-brand {
    font-size: calc(1.4rem + 1.5vw);
  }
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: var(--cd-navbar-brand-color-hover) !important;
}
/* Navbar Links */
.navbar .navbar-nav .nav-link {
  color: var(--cd-navbar-link-color) !important;
  font-size: 1.5em;
  font-weight: bold;
}
.dropdown-menu .nav-item .nav-link {
  font-size: 1em;
  padding-left: 1em;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: var(--cd-navbar-link-color-hover) !important;
}
.navbar .navbar-toggler {
  color: var(--cd-navbar-link-color) !important;
  border: none !important;
}
.navbar .nav-link {
  align-items: center;
}
.navbar .nav-link-icon {
  font-size: 0.5rem;
  margin-left: 0.25rem;
}
.navbar .nav-link.disabled {
  color: var(--cd-faded-text-color) !important;
}

/* Navbar Dropdowns */
.navbar .dropdown-menu {
  color: var(--cd-navbar-dropdown-link-color) !important;
  background-color: var(--cd-navbar-dropdown-background-color) !important;
  border-radius: var(--cd-navbar-dropdown-border-radius) !important;
  border: var(--cd-border-color) var(--cd-border-style) var(--cd-border-width);
  margin-top: 0;
}
.navbar .dropdown-divider {
  border-top: 1px solid var(--cd-navbar-dropdown-divider) !important;
  width: 100%;
  padding: 0;
}
.navbar .dropdown-menu .nav-item {
  color: var(--cd-navbar-dropdown-link-color) !important;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.navbar .dropdown-menu .nav-item:hover,
.navbar .dropdown-menu .nav-item:focus,
.navbar .dropdown-menu .nav-item:active {
  color: var(--cd-navbar-dropdown-link-color-hover) !important;
  background-color: var(--cd-navbar-dropdown-background-hover) !important;
}
.navbar .dropdown-menu .dropdown-header {
  color: var(--cd-navbar-dropdown-link-color-hover) !important;
}

/* ============================================================= */
/* Pagination
/* ============================================================= */

.page-link {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  border-width: var(--cd-pagination-border-width) !important;
  border-style: var(--cd-pagination-border-style) !important;
}
.page-link,
.page-item.disabled .page-link {
  color: var(--cd-pagination-text-color) !important;
  background-color: var(--cd-pagination-background-color) !important;
  border-color: var(--cd-pagination-border-color) !important;
}
.page-item.active .page-link,
.page-link:hover,
.page-link:focus,
.page-link:active {
  color: var(--cd-pagination-text-color-hover) !important;
  background-color: var(--cd-pagination-background-hover) !important;
  border-color: var(--cd-pagination-border-color-hover) !important;
}

/* Keeps users from accidentally highlighting */
.page-link {
  cursor: pointer;
  user-select: none;
}

/* Fixes my jank nav/pagination hybrid */
.nav .pagination .page-item:first-child .page-link {
  border-radius: 0 !important;
  border-left: 0 !important;
}
.nav .pagination .page-item:last-child .page-link {
  border-radius: 0 !important;
}
.nav .page-item:first-child .page-link {
  border-radius: var(--cd-pagination-border-radius) 0 0
    var(--cd-pagination-border-radius) !important;
}
.nav .page-item:last-child .page-link {
  border-radius: 0 var(--cd-pagination-border-radius)
    var(--cd-pagination-border-radius) 0 !important;
}

/* ============================================================= */
/* Multi Select Fixes - mostly Bootstrap Select
/* ============================================================= */

label {
  color: var(--cd-link-text-color);
  font-family: var(--cd-header-font-family);
  font-weight: bold;
  text-transform: uppercase;
}
.bootstrap-select > .dropdown-toggle,
.bootstrap-select > .dropdown-toggle:active,
.bootstrap-select > .dropdown-toggle:focus,
.bootstrap-select > .dropdown-toggle:hover {
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
  color: var(--cd-body-text-color) !important;
}
.dropdown-menu {
  border-radius: var(--cd-border-radius) !important;
  color: var(--cd-navbar-dropdown-link-color) !important;
  background-color: var(--cd-navbar-dropdown-background-color) !important;
}
.dropdown-item {
  color: var(--cd-body-text-color) !important;
}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item.selected {
  color: var(--cd-navbar-dropdown-link-color-hover) !important;
  background-color: var(--cd-navbar-dropdown-background-hover) !important;
}
option:checked {
  background-color: var(--cd-primary-color);
  border-radius: var(--cd-border-radius);
  color: var(--cd-primary-text-color);
  padding: .2rem .5rem;
}
.bs-actionsbox .btn-group {
  display: flex !important;
}
.bs-actionsbox .btn-group button {
  width: auto;
}
.btn.btn-light {
  color: var(--cd-button-text-color) !important;
  background-color: var(--cd-button-background-color) !important;
  border-color: var(--cd-button-border-color) !important;
  margin: 0 .5rem;
}
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active {
  color: var(--cd-button-text-color-hover) !important;
  border-color: var(--cd-button-border-color-hover) !important;
  background-color: var(--cd-button-background-color-hover) !important;
  box-shadow: none !important;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  right: 1rem;
  top: .5rem;
}

/* ============================================================= */
/* Input
/* ============================================================= */

.form-control {
  background-color: var(--cd-input-background-color) !important;
  color: var(--cd-input-text-color) !important;
  border-width: var(--cd-input-border-width) !important;
  border-style: var(--cd-input-border-style) !important;
  border-color: var(--cd-input-border-color) !important;
  border-radius: var(--cd-input-border-radius) !important;
}
.form-control:focus,
.form-control:active {
  background-color: var(--cd-input-background-color) !important;
  border-color: var(--cd-input-border-color-hover) !important;
}


/* ============================================================= */
/* Card
/* ============================================================= */

.card {
  background-color: var(--cd-card-background-color) !important;
  border-width: var(--cd-card-border-width) !important;
  border-style: var(--cd-card-border-style) !important;
  border-color: var(--cd-card-border-color) !important;
  border-radius: var(--cd-border-radius) !important;
}

.card-header {
  background-color: var(--cd-card-header-background-color) !important;
  color: var(--cd-card-header-font-color) !important;
  border-bottom-color: var(--cd-card-border-color) !important;
  border-bottom-width: var(--cd-card-border-width) !important;
  border-bottom-style: var(--cd-card-border-style) !important;
  font-family: var(--cd-card-header-font-family) !important;
  border-radius: calc(var(--cd-border-radius) - 1px)
    calc(var(--cd-border-radius) - 1px) 0 0 !important;
}
.card-header a, .card-header a:visited {
  transition: opacity 0.2s ease-in-out;
  color: var(--cd-card-header-font-color) !important;
  font-weight: bold;
}
.card-header a:hover {
  opacity: .8;
}

.card-footer {
  border-top-color: var(--cd-card-border-color) !important;
  border-top-width: var(--cd-card-border-width) !important;
  border-top-style: var(--cd-card-border-style) !important;
  font-family: var(--cd-card-header-font-family) !important;
  border-radius: 0 0 calc(var(--cd-border-radius) - 1px)
    calc(var(--cd-border-radius) - 1px) !important;
  font-size: .875em;
}


/* ============================================================= */
/* Various Text Styling
/* ============================================================= */

/* Links */
a,
a:visited {
  color: var(--cd-link-text-color);
  transition: color 0.2s ease-in-out;
}
a:hover,
a:focus,
a:active {
  color: var(--cd-link-text-color-hover);
  text-decoration: none;
}
blockquote {
  margin: 0 2rem 1rem;
  color: var(--cd-faded-background-color) !important;
}

/* Text */
.text-primary {
  color: var(--cd-primary-color) !important;
}

.text-justify {
  text-align: justify;
}

.bg-faded {
  background-color: var(--cd-faded-background-color) !important;
}

.bg-reset {
  background-color: var(--cd-input-background-color) !important;
}

.text-muted {
  color: var(--cd-faded-text-color) !important;
}

.text-loud {
  color: var(--cd-primary-color) !important;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--cd-navbar-font-family) !important;
  font-weight: bold;
  text-transform: uppercase;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}
h1 {
  color: var(--cd-faded-text-color);
  font-size: 1.4rem;
  text-align: center;
}
h2 {
  color: var(--cd-secondary-color);
  font-size: 1.2rem;
}
h3 {
  color: var(--cd-primary-color);
  font-size: 1.1rem;
}
h4 {
  color: var(--cd-faded-text-color);
  font-size: 1.05rem;
}

.script {
  font-family: var(--cd-navbar-font-family) !important;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--cd-faded-text-color);
}
.subtitle {
  font-family: var(--cd-navbar-font-family) !important;
  font-weight: bold;
  color: var(--cd-faded-text-color);
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Bullets */
ul {
  list-style-type: "✦";
}

ul li::marker {
  color: var(--cd-secondary-color) !important;
}

ol {
  list-style-type: upper-roman;
}

ol li::marker {
  color: var(--cd-primary-color);
  font-family: var(--cd-header-font-family);
}

.card-body ul li, .card-body ol li {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

/* ============================================================= */
/* Horizontal Rule
/* ============================================================= */
hr {
  width: 100%;
  margin: 0 auto 0 auto;
  border-top: var(--cd-border-color) var(--cd-border-style) var(--cd-border-width);
  opacity: 1;
}
.card-body hr {
  margin: 1em auto 1em auto;
}

/* ============================================================= */
/* Tooltips
/* ============================================================= */

.tooltip {
  z-index: 10000 !important;
}
.tooltip.show {
  opacity: 1 !important;
}
.tooltip-inner {
  background-color: var(--cd-primary-color);
  border-radius: var(--cd-border-radius) !important;
  font-family: var(--cd-body-font-family);
  font-size: 10pt;
  line-height: 1rem;
  padding: .5rem;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: var(--cd-primary-color);
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: var(--cd-primary-color);
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--cd-primary-color);
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--cd-primary-color);
}

/* ============================================================= */
/* Buttons & Badges
/* ============================================================= */

.btn,
.nav-pills .nav-link {
  border-style: var(--cd-button-border-style) !important;
  border-width: var(--cd-button-border-width) !important;
  border-radius: var(--cd-button-border-radius) !important;
}

.btn.btn-primary,
.badge.badge-primary,
.nav-pills .nav-link {
  color: var(--cd-button-text-color) !important;
  background-color: var(--cd-button-background-color) !important;
  border-color: var(--cd-button-border-color) !important;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
a.badge.badge-primary:hover,
a.badge.badge-primary:focus,
a.badge.badge-primary:active,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:active {
  color: var(--cd-button-text-color-hover) !important;
  border-color: var(--cd-button-border-color-hover) !important;
  background-color: var(--cd-button-background-color-hover) !important;
  box-shadow: none !important;
}

/* ============================================================= */
/* to Top & Bottom
/* ============================================================= */
.to-top {
  right: calc((100vw - 950px) / 2 - 99px);
  top: 45%;
  width: 100px;
}
.to-bottom {
  right: calc((100vw - 950px) / 2 - 99px);
  bottom: 45%;
  width: 100px;
}

/* ============================================================= */
/* Loading
/* ============================================================= */

/* Spinner icon */
.loading {
  margin-top: 50vh;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: absolute;
}
.loading.inactive {
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Fades container in on load so its not as jarring */
.softload {
  opacity: 0;
}
.softload.active {
  opacity: 1;
  transition: opacity 0.2s ease;
}

/* Specifically for the body */
#charadex-body {
  display: none;
}
#charadex-body.active {
  display: block;
}

/* ============================================================= */
/* Chee's Tweaks
/* ============================================================= */

/* Remove ugly box shadow */
button:focus,
.page-link:focus,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Remove margin from last paragraphs */
p:last-child {
  margin-bottom: 0 !important;
}

/* Hero images */
.cd-hero-title {
  color: var(--cd-primary-text-color);
  text-shadow: 0px 0px 3px black;
  background-color: var(--cd-secondary-color);
  border-radius: var(--cd-border-radius);
  font-family: var(--cd-header-font-family);
  text-transform: uppercase;
  text-align: center;
  display: flex;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .cd-hero-title {
    letter-spacing: 2px;
  }
}

/* ============================================================= */
/* Charadex
/* ============================================================= */

#gallery-card,
#prompt-card,
#player-card,
#item-card {
  overflow: scroll;
}
@media (min-width: 768px) {
  #gallery-card,
  #prompt-card,
  #player-card,
  #item-card {
    padding: .5rem 1rem;
  }
}

/* Fixes unique header covering text */
.z-1 {
  z-index: 1;
}
/* Makes profile card background invisible */
@media (min-width: 768px) {
  .cd-profile-card {
    border: 0 !important;
    background-color: transparent !important;
    overflow: visible !important;
  }
}

/* masterlist gallery */
#charadex-gallery .list .card-header {
  padding: .5em;
}
#charadex-gallery .list .card-header a {
  text-decoration: none;
}
#charadex-gallery .list .card-body img {
  max-height: 200px;
}

/* character profile */
@media (min-width: 768px) {
  .cd-profile-card-body a {
    text-decoration: none;
  }
}
#profile-card .card-body {
  overflow: visible;
}
@media (min-width: 768px) {
  #profile-card .card-body {
  overflow: scroll;
  }
}

/* prompt gallery */
#prompt-gallery .list .card-header {
  padding: .5em;
}
#prompt-gallery .list .card-header a {
  text-decoration: none;
}
#prompt-gallery .list .card-body img {
  max-height: 200px;
}
.cd-prompt-background {
  background-position: center;
  background-size: cover;
  min-height: 150px;
}
@media (min-width: 768px) {
  .prompt-body {
    padding: 1rem 7rem;
  }
}

/* player gallery */
#player-gallery .list .card-header {
  padding: .5em;
}
#player-gallery .list .card-header a {
  text-decoration: none;
}
#player-gallery .list .card-body img {
  max-height: 200px;
}

/* item gallery */
#item-gallery .list .card-header {
  padding: .5em;
}
#item-gallery .list .card-header a {
  text-decoration: none;
}
#item-gallery .list .card-body img {
  max-height: 100px;
}

#charadex-gallery .cd-gallery-card {
  aspect-ratio: 1/1;
}
.cd-gallery-card > img {
  background-color: var(--cd-body-background-color);
  aspect-ratio: 1/1;
  border-radius: 3px;
  border-width: var(--cd-card-border-width) !important;
  border-style: var(--cd-card-border-style) !important;
  border-color: var(--cd-card-border-color) !important;
}

.cd-profile-image-container > img {
  max-height: 400px;
}

/* Makes sure your text formatting is preserved from the sheet */
/* Best for large areas like notes */
.cd-text-pre {
  white-space: break-spaces;
}

/* ============================================================= */
/* Category Badges
/* ============================================================= */

.badge-all {
  background-color: var(--cd-faded-background-color);
  color: var(--cd-faded-text-color);
}
.badge-one {
  background-color: var(--cd-rarity-one-bg);
  color: var(--cd-rarity-one-txt);
}
.badge-two {
  background-color: var(--cd-rarity-two-bg);
  color: var(--cd-rarity-two-txt);
}
.badge-three {
  background-color: var(--cd-rarity-three-bg);
  color: var(--cd-rarity-three-txt);
}
.badge-four {
  background-color: var(--cd-rarity-four-bg);
  color: var(--cd-rarity-four-txt);
}
.badge-five {
  background-color: var(--cd-rarity-five-bg);
  color: var(--cd-rarity-five-txt);
}